<ng-container>
  <div class="bg-light d-flex flex-wrap-reverse">
    <div class="col-12 col-xl-6 px-2 py-4 p-xl-5">
      <h1 class="fw-bold mt-3">About <span class="text-blue">The Shop</span></h1>
      <p class="text-justify mt-4 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa,
        dolor, dolore eos facere maxime modi nam nisi numquam, quam rem repudiandae sequi soluta vel.</p>
      <div class="d-flex flex-nowrap justify-content-center justify-content-xl-start my-4">
        <div class="me-xl-5 me-1 d-flex flex-column align-items-center justify-content-center" *ngFor="let fact of
        facts">
          <h1 class="text-blue fw-bold text-nowrap">{{fact.number}}</h1>
          <p class="fw-bold text-center">{{fact.field}}</p>
        </div>
      </div>
      <span class="fs-5 text-orange fw-bold text-decoration-underline pb-3">Learn More</span>
    </div>

    <div class="col-12 col-xl-6 pe-xl-5">
      <img class="w-100" [src]="img.src" [alt]="img.alt" loading="lazy">
    </div>

  </div>
</ng-container>
