<ng-container>
  <div class="newslatter-container container-fluid bg-dark py-4">
      <div class="col-12 col-xl-6 mx-auto">
        <div class="text-center ">
          <h1 class="fw-bolder text-orange mb-3">NewsLetters</h1>
          <p class="text-white m-0">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Enim eum optio sed sequi soluta sunt .</p>
        </div>



        <div>
          <form>
            <div class="d-flex flex-column align-items-center">
              <input class="input my-4 bg-dark text-white col-10 col-xl-8" type="text" required
                     placeholder="Enter Your Email">
              <button class="input-submit col-10 col-xl-8" type="submit">Subscribed</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</ng-container>
