<ng-container>
  <div class="customer-container d-flex col-11 mx-auto flex-wrap mt-5 mt-xl-5">
    <div class="col-12 col-xl-6">
      <h1 class="fw-bold">What Over <span class="text-blue">Customer Says</span></h1>
      <div class="w-75 mx-auto mt-4">
        <img class="w-100 " src="assets/Customers/customer.png" alt="customer image" loading="lazy">
      </div>

    </div>

    <div class="col-12 col-xl-6">

      <p class="paragraph mt-2 mt-xl-5 fst-italic text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at cum, cumque earum, eveniet ex facilis in
        ipsa minus necessitatibus nobis nostrum perferendis quaerat quia sunt tempora totam voluptas voluptatibus.
        Aperiam commodi culpa cupiditate doloremque dolores eveniet facere hic id, iste nemo, nisi nostrum praesentium
        quis quo, tenetur vel
      </p>

      <div class="mt-xl-5 mt-3">
        <h4 class="fw-bold text-blue">Mr. Irvin Frías</h4>
        <h5 class="fw-bold text-blue">Front End Developer</h5>
      </div>



    </div>
  </div>
</ng-container>
